<h1 class="text-center">Index</h1>
<div class="text-center">
  <div class='text-center'>
    <div class="btn btn-success"><%= link_to 'Create restaurant', new_restaurant_path %></div>
  </div>
  <h2 class="text-center">Here are all the restaurants</h2>

  <div class='text-center'>
    <% @restaurants.each do |restaurant| %>
      <div>
        <div class="card mt-1 w-25"><%= link_to restaurant.name, restaurant_path(restaurant) %></div>
      </div>
    <% end %>
  </div>
</div>